In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/JuliaData/CSV.jl/refs/heads/main/test/testfiles/Sacramentorealestatetransactions.csv'
df = pd.read_csv(url)

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
df

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768
...,...,...,...,...,...,...,...,...,...,...,...,...
980,9169 GARLINGTON CT,SACRAMENTO,95829,CA,4,3,2280,Residential,Thu May 15 00:00:00 EDT 2008,232425,38.457679,-121.359620
981,6932 RUSKUT WAY,SACRAMENTO,95823,CA,3,2,1477,Residential,Thu May 15 00:00:00 EDT 2008,234000,38.499893,-121.458890
982,7933 DAFFODIL WAY,CITRUS HEIGHTS,95610,CA,3,2,1216,Residential,Thu May 15 00:00:00 EDT 2008,235000,38.708824,-121.256803
983,8304 RED FOX WAY,ELK GROVE,95758,CA,4,2,1685,Residential,Thu May 15 00:00:00 EDT 2008,235301,38.417000,-121.397424
984,3882 YELLOWSTONE LN,EL DORADO HILLS,95762,CA,3,2,1362,Residential,Thu May 15 00:00:00 EDT 2008,235738,38.655245,-121.075915

In [5]:
df.shape

(985, 12)

In [6]:
df.size

11820

In [7]:
df.type

0      Residential
1      Residential
2      Residential
3      Residential
4      Residential
          ...
980    Residential
981    Residential
982    Residential
983    Residential
984    Residential
Name: type, Length: 985, dtype: object

In [8]:
df.describe()

,zip,beds,baths,sq__ft,price,latitude,longitude
count,985.000000,985.000000,985.000000,985.000000,985.000000,985.000000,985.000000
mean,95750.697462,2.911675,1.776650,1314.916751,234144.263959,38.607732,-121.355982
std,85.176072,1.307932,0.895371,853.048243,138365.839085,0.145433,0.138278
min,95603.000000,0.000000,0.000000,0.000000,1551.000000,38.241514,-121.551704
25%,95660.000000,2.000000,1.000000,952.000000,145000.000000,38.482717,-121.446127
50%,95762.000000,3.000000,2.000000,1304.000000,213750.000000,38.626582,-121.376220
75%,95828.000000,4.000000,2.000000,1718.000000,300000.000000,38.695589,-121.295778
max,95864.000000,8.000000,5.000000,5822.000000,884790.000000,39.020808,-120.597599

In [9]:
num_columns = len(df.columns)
print(f"Number of columns: {num_columns}")

Number of columns: 12

In [10]:
mean_house_price = df['price'].mean()
print(f"Mean of house prices: {mean_house_price}")

Mean of house prices: 234144.26395939087

In [11]:
median_house_price = df['price'].median()
print(f"Median of house prices: {median_house_price}")

Median of house prices: 213750.0

In [12]:
property_types = df['type'].unique()
print(f"Different types of property: {property_types}")

Different types of property: ['Residential' 'Condo' 'Multi-Family' 'Unkown']

In [13]:
condo_df = df[df['type'] == 'Condo']
max_condo_price = condo_df['price'].max()
print(f"Maximum price of a condo: {max_condo_price}")

Maximum price of a condo: 360000

In [14]:
mean_prices_by_type = df.groupby('type')['price'].mean()
print(mean_prices_by_type)

type
Condo           150082.185185
Multi-Family    224534.692308
Residential     239186.162486
Unkown          275000.000000
Name: price, dtype: float64

In [15]:
property_type_counts = df['type'].value_counts()
print(property_type_counts)

type
Residential     917
Condo            54
Multi-Family     13
Unkown            1
Name: count, dtype: int64